
.provider-group {
    background: #ebebeb;
    padding: 8px 12px;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    flex-flow: column;

    &-title {
        padding-left: 42px;
        margin-top: 6px;
        line-height: 1.45em;
        font-size: 1.5em;

        &.bank {
            background: url("../img/icon_bank.svg") no-repeat;
        }

        &.credit {
            background: url("../img/icon_credit.svg") no-repeat;
        }

        &.creditcard {
            background: url("../img/icon_creditcard.svg") no-repeat;
        }

        &.mobile {
            background: url("../img/icon_mobile.svg") no-repeat;
        }

        .icon {
            float: none;
            margin-right: 8px;
        }
    }


    &.selected {
        background: #33798d;
        color: #ffffff;

        .provider-group-title {
            color: #ffffff;

            &.bank {
                background: url("../img/icon_bank_active.svg") no-repeat;
            }

            &.credit {
                background: url("../img/icon_credit_active.svg") no-repeat;
            }

            &.creditcard {
                background: url("../img/icon_creditcard_active.svg") no-repeat;
            }

            &.mobile {
                background: url("../img/icon_mobile_active.svg") no-repeat;
            }
        }
    }
}

.op-payment-service-woocommerce-payment-fields {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

    &.hidden {
        display: none;
    }

    &--list-item {
        position: relative;
        display: inline-block;
        width: 48%;
        padding-bottom: 17%;
        list-style-type: none !important;
        margin-bottom: 20px;

        &--wrapper {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        &--input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        &:hover,
        &--input:checked + &--wrapper {
            border: 2px solid #33798d;
        }

        &--img {
            float: none !important;
            //padding: .2rem .6rem !important;
            cursor: pointer;
            max-width: 100% !important;
            min-height: 5em !important;
            max-height: 9em !important;
            padding: 5% 10% !important;
        }
    }
}

// Overrides for different themes
.woocommerce-checkout #payment ul.payment_methods li.op-payment-service-woocommerce-payment-fields--list-item {
    margin-bottom: 20px;
    border: 2px solid #ebebeb;
}
.woocommerce-checkout #payment ul.payment_methods li.op-payment-service-woocommerce-payment-fields--list-item--wrapper {
}

.woocommerce-checkout #payment ul.payment_methods li.op-payment-service-woocommerce-payment-fields--list-item:hover,
.woocommerce-checkout #payment ul.payment_methods li.op-payment-service-woocommerce-payment-fields--list-item .op-payment-service-woocommerce-payment-fields--list-item--input:checked + .op-payment-service-woocommerce-payment-fields--list-item--wrapper {
    border: 2px solid #33798d;
}

.col-wide .op-payment-service-woocommerce-payment-fields--list-item {
    width: 19%;
}

.col-narrow .op-payment-service-woocommerce-payment-fields--list-item {
    width: 48%;
}
